version: "3.3"
services:
  rest-services:
    image: rest
    container_name: rest
    ports:
      - "3000:3000"
    volumes:
      - ./:/app
      - /app/node_modules
    depends_on:
      - rest-db
    build:
      context: .
      dockerfile: Dockerfile
  rest-db:
    image: postgres:latest
    restart: always
    container_name: rest-db
    hostname: rest-db
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgresql-data:/var/lib/postgresql/data
volumes:
  postgresql-data: